
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;
$lexend: 'Lexend', sans-serif;

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: normal;
//   font-style: normal;
//   src: url("/src/fonts/OpenSans-Regular.ttf") format("truetype");
// }
