@use '../settings/color' as clr;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.add {
  background-color: clr.$green;

  &__header {
    margin: 30px 0;
    color: clr.$white;
    font: fw.$bold 5rem ff.$lexend;
    line-height: func.getem(90, 112);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: clr.$background;
    border-radius: 10px;
    gap: 10px 0;
  }

  &__label {
    font: fw.$medium 1.8rem ff.$poppins;
  }

  &__input-text {
    padding: 10px;
    font: fw.$regular 1.4rem ff.$poppins;
    border: 1px solid clr.$gray;
    border-radius: 4px;

    &:focus {
      border: 2px solid clr.$green;
      outline: none;
    }
  }

  &__input-textarea {
    padding: 10px;
    font: fw.$regular 1.4rem ff.$poppins;
    border: 1px solid clr.$gray;
    border-radius: 4px;

    &:focus {
      border: 2px solid clr.$green;
      outline: none;
    }
  }

  &__input-select {
    padding: 10px;
    border: 1px solid clr.$gray;
    border-radius: 4px;

    &:focus {
      border: 2px solid clr.$green;
      outline: none;
    }
  }
}

.validation-errors {
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Style for highlighting invalid input fields */
.add__form input:invalid,
.add__form textarea:invalid,
.add__form select:invalid {
  border: 1px solid red;
}