@use '../settings/color' as clr;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.course {
  background-color: clr.$background;
  margin-top: 80px;
  height: 100vh;

  &__wrapper {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0 50px;
  }
}